<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css" />
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron">
<img src="http://emojipedia-us.s3.amazonaws.com/cache/98/32/98320f5f827bd6ff4ab87fa98a973188.png">
<h1>Movie Database</h1>
</div>
<h3>Add a Movie to the Datebase</h3>
<form action = "/movie" method = "POST">
  <h4>Movie Info</h4>
  Title<br>
  <input type = "text" name = "name" /></br>
  Genre<br>
  <input type = "text" name = "genre" /><br>
  Release Year<br>
  <input type = "text" name = "release_date" /><br>
  Rating on Rotten Tomates<br>
  <input type = "text" name = "rotten_tomatoes_rating" /><br>
  <br>
  <input type = "submit" value = "submit" /><br>
</form>
<br>
<h4><a href="/movies">View the movie database</a></h4>
</div>
</body>
</html>
